@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500&family=Teko:wght@300..700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#1f1517;
    color: #fff;
}
html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.menu a{
    text-decoration:none;
    color:#fff;
}

ul li a:hover{
    text-transform: capitalize;
    color:#e7a80e;
    border-bottom: solid 1px;
}

ul {
   list-style: none;
}

nav {
    max-width: 1120px;
    margin:auto;
    padding: 1.5rem 10rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    color:#fff2e780;
}


main {
    display: flex;
    flex-direction: column;
}

.principal {
    background: #181012;
}

.parte{
 max-width: 1120px;
 height: 60vh;

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 gap: 6rem;

 padding: 0rem 2rem ;
 margin: auto;

 overflow: clip;
}

.parte-conteudo {
    display: flex;
    flex-direction:column ;
    gap: 1rem;
}

.destaque {
    font-family:Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color:#a45a49;
}

.amarelo {
    color:#e7a80e;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
    font-style:oblique;
}

hr {
    border-color:#a45a49;
}

.parte-contudo-subtitulo {
    color:#c7bab3;

    font-family: Inter;
    font-family: 1.5rem;
    font-weight: 400;
}

.parte-imagens-container {
    max-width:45% ;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.parte-imagens-container > figure >img {
    width: 100%;
    border-radius: 0.5rem;
}

.botao-container {
    width: 100%;
    min-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

.button {
    border: none;
    padding: 2rem;
    border-radius: 0.5rem;
    background: #a45a49;
}

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabecalho {
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
}

.receitas-titulo {
     font-family: Montserrat;
     font-size: 2rem;
     font-weight: 700;
     color:#fff2e7;
}

.receitas-subtitulo {
    font-family:Inter ;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color:#c7bab3
}

.receitas-container {
    column-count: 2;
    max-width: 1120px;
    padding: 1rem;
    gap: 1rem;
}

.receitas-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1120px;
}

.receitas-card {
    background: #241a1c;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

}

.receitas-card-cabecalho-detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    color:#fff2e7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}

.receitas-avaliacão {
    color:#756a67;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.receitas-descricao {
    color:#c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.receitas-autor {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.receitas-autor > img {
    border-radius: 20rem;
    width: 1.5rem;
}

.receitas-autor-nome {
    color: #c7bab3;
    
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;

}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.50rem;
    background: #23181a;
}

.footer-copy {
    color: #fff2e7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer-autor {
    color: rgba(225, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}